.App {
    /*text-align: center;*/
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-content {

}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.users-list {
    display: flex;
    flex-wrap: wrap;
}

.user-card {
    padding: 0.5rem;
    width: 150px;
    overflow: hidden;
}

.user-card__useravatar-image {
    width: 150px;
    height: 150px;
}

.user-card__username {
    font-weight: 600;
}

.user-card__emeil {
    font: small-caption;
}

.inactive .user-card__username {
    color: gray;
}


